
themes/
jimu.js/
configs/
dynamic-modules/
libs/
images/
/config.json
/3rd-party-license.txt
/env.js
/index.html
/readme.html
/simpleLoader.js
/web.config
/init.js

!/widgets/
/widgets/*
!/widgets/TSWidgetTemplate
